@media screen and (max-width: 820px) {
  .section1 .text-block {
    width: 320px;
    padding-bottom: -400px;
    margin-left: -20px;
  }
  .section1 img {
    margin-bottom: -700px;
  }
  .section1 h1 {
    font-size: 40px;
  }
  .img-2 .text2 {
    margin-left: 15px;
    margin-top: 100px;
  }
  .img-3 .text {
    margin-left: -220px;
    margin-top: -40px;
  }
  .img-4 .text {
    margin-top: 420px;
    margin-left: -170px;
  }
  .block1 {
    margin-left: 150px;
  }
  .img-3 {
    margin-left: 100px;
  }
  .block1 > div {
    width: 500px;
  }
  .block1 img {
    width: 70%;
    height: 100%;
  }
  .block2 img {
    width: 100%;
    height: 50%;
  }
  .block1 {
    width: 100%;
  }
  .img-1 img {
    width: 100%;
    height: 90%;
  }
  .img-1 {
    width: 100%;
    height: 450px;
  }
  .img-2 {
    width: 100%;
  }
  .block2 {
    width: 100%;
    margin-left: 40px;
  }

  .block4 div {
    width: 255px;
    margin-bottom: 30px;
  }
  .block4 img {
    width: 200px;
  }
  .block4 .name {
    margin-left: 50px;
  }
  .block4 a {
    margin-left: 65px;
  }

  #products {
    width: 700px;
    flex-wrap: wrap;
    margin-left: 50px;
  }

  .block5 img {
    width: 100%;
    height: 100%;
  }
  .block5 ul {
    margin-top: -20px;
  }
  .block6 {
    margin: 50px auto;
  }
  .block6 span {
    display: inline-block;
    margin: -30px auto -20px auto;
  }
  .block6 input {
    width: 180px;
  }
  .block6 button {
    width: 80px;
  }
  .block6 h1 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 430px) {
  header a {
    display: none;
  }

  .section1 {
    margin-top: 100px;
  }
  header {
    height: 90px;
    width: 400px;
    flex-wrap: wrap;
  }
  .img-2 .text2 {
    margin-top: -10px;
  }
  .block1 {
    margin-left: 100px;
  }
  .block1 > div {
    width: 300px;
  }
  .section2 .text {
    font-size: 20px;
    width: 100px;
  }
  .img-3 .text {
    margin-left: -110px;
  }
  .img-2 .text {
    margin-top: 50px;
    margin-left: 10px;
  }
  .img-4 .text {
    display: none;
  }
  .img-1 {
    height: 300px;
  }
  .block2 {
    margin-top: -100px;
    margin-left: 20px;
  }
  .block2 > div {
    width: 250px;
  }
  .section1 img {
    display: none;
  }
  #products {
    width: 350px;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .block6 h2 {
    font-size: 40px;
  }
  .block6 .input-div {
    width: 300px;
  }
}
@media (max-width: 1290px) {
  .section1 {
    height: 439px;
  }
  .section1 img {
    position: absolute;
    height: 200px;
    top: 32%;
    left: 43%;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .block6 img {
    width: 200px;
  }
}
